*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: lato, Helvetica, sans-serif;
  background: linear-gradient(to right, #d17608, #ec3503);
  padding: clamp(20px, 5vw, 50px) 20px 10px;
}

.global-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: green;
  padding: 10px;
  color: #f1f1f1;
  text-align: center;
}

h1 {
  font-family: Raleway, sans-serif, Arial;
  font-weight: 300;
}

h1 span {
  font-weight: 700;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-content: center;
}

.card-wrapper {
  position: relative;
  height: 150px;
  width: 150px;
  perspective: 1000px;
  perspective-origin: top;
  cursor: pointer;
}

.card-wrapper:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.3s linear;
}

.front-card,
.back-card {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #c7c7c7;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back-card {
  transform: rotateY(180deg);
}

img {
  width: 125px;
}
